# Fuel Econemy Analyse

In [1]:
import pandas as pd
import os
    
%matplotlib inline

In [2]:
cwd = os.getcwd()
os.listdir(cwd)

['fuel_econemy.ipynb',
 '.ipynb_checkpoints',
 'all_alpha_08.csv',
 'all_alpha_18.csv']

In [3]:
df_18 = pd.read_csv('all_alpha_18.csv')
df_18.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4NH3,small car,3,25,35,29,6,No,309
1,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXV02.4NH3,small car,3,25,35,29,6,No,309
2,ACURA MDX,3.5,6.0,SemiAuto-9,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV03.5RH3,small SUV,3,19,27,22,4,No,404
3,ACURA MDX,3.5,6.0,SemiAuto-9,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV03.5RH3,small SUV,3,20,27,23,5,No,390
4,ACURA MDX,3.5,6.0,SemiAuto-9,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXV03.5RH3,small SUV,3,19,27,22,4,No,404

In [4]:
df_08 = pd.read_csv('all_alpha_08.csv')
df_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [5]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2435 entries, 0 to 2434
Data columns (total 18 columns):
Model                   2435 non-null object
Displ                   2423 non-null float64
Cyl                     2423 non-null float64
Trans                   2435 non-null object
Drive                   2435 non-null object
Fuel                    2435 non-null object
Cert Region             2435 non-null object
Stnd                    2435 non-null object
Stnd Description        2435 non-null object
Underhood ID            2435 non-null object
Veh Class               2435 non-null object
Air Pollution Score     2435 non-null int64
City MPG                2435 non-null object
Hwy MPG                 2435 non-null object
Cmb MPG                 2435 non-null object
Greenhouse Gas Score    2435 non-null int64
SmartWay                2435 non-null object
Comb CO2                2435 non-null object
dtypes: float64(2), int64(2), object(14)
memory usage: 342.5+ KB

In [6]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
Model                   2404 non-null object
Displ                   2404 non-null float64
Cyl                     2205 non-null object
Trans                   2205 non-null object
Drive                   2311 non-null object
Fuel                    2404 non-null object
Sales Area              2404 non-null object
Stnd                    2404 non-null object
Underhood ID            2404 non-null object
Veh Class               2404 non-null object
Air Pollution Score     2404 non-null object
FE Calc Appr            2205 non-null object
City MPG                2205 non-null object
Hwy MPG                 2205 non-null object
Cmb MPG                 2205 non-null object
Unadj Cmb MPG           2205 non-null float64
Greenhouse Gas Score    2205 non-null object
SmartWay                2404 non-null object
dtypes: float64(2), object(16)
memory usage: 338.1+ KB

### find duplicated

In [7]:
sum(df_08.duplicated())

25

In [8]:
df_08.describe()

             Displ  Unadj Cmb MPG
count  2404.000000    2205.000000
mean      3.748918      23.916104
std       1.335785       6.366170
min       1.300000      10.018400
25%       2.500000      19.113900
50%       3.500000      23.921300
75%       4.800000      27.869300
max       8.400000      65.777800

In [9]:
df_18.shape

(2435, 18)

## Find the uniques

In [14]:
df_18.SmartWay.unique()

array(['No', 'Elite', 'Yes'], dtype=object)

In [15]:
df_08.SmartWay.unique()

array(['no', 'yes'], dtype=object)

In [19]:
df_08['Sales Area'].unique()

array(['CA', 'FA', 'FC'], dtype=object)

In [20]:
df_18['Cert Region'].unique()

array(['CA', 'FA'], dtype=object)

In [21]:
df_08['Trans'].unique()

array(['Auto-S5', 'Man-6', 'Auto-S6', 'Auto-AV', 'Auto-S7', 'Auto-L4',
       'Auto-L6', 'Auto-4', 'Man-5', 'Auto-L5', nan, 'Auto-6', 'S8',
       'Auto-S4', 'Auto-L7'], dtype=object)

In [22]:
len(df_08['Trans'].unique())

15

In [23]:
df_08.Fuel.unique()

array(['Gasoline', 'ethanol/gas', 'ethanol', 'diesel', 'CNG'], dtype=object)

In [24]:
df_18.Fuel.unique()

array(['Gasoline', 'Gasoline/Electricity', 'Diesel', 'Electricity',
       'Ethanol/Gas'], dtype=object)

# Cleaning Column Labels
Use `all_alpha_08.csv` and `all_alpha_18.csv`

### Drop Extraneous Columns

In [25]:
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no

In [27]:
df_08.drop(['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'], axis=1, inplace=True)

In [28]:
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [29]:
df_18.drop(['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'], axis=1,inplace=True)

In [30]:
df_18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,25,35,29,6,No

### Rename Columns

In [32]:
df_08.rename(index=str, columns={'Sales Area': 'Cert Region'}, inplace=True)
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [34]:
# replace spaces with underscores and lowercase labels for 2008 dataset
df_08.rename(columns=lambda x: x.strip().lower().replace('-', '_'), inplace=True)
df_08.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [36]:
df_18.rename(columns=lambda x: x.strip().lower().replace(' ', '_'), inplace=True)
df_18.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,25,35,29,6,No

In [37]:
df_08.columns == df_18.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True], dtype=bool)

In [38]:
# make sure they're all identical like this
# 数组中所有都是True 才是True
(df_08.columns == df_18.columns).all()

True

In [39]:
df_08.to_csv('df_08.csv', index=False)
df_18.to_csv('df_18.csv', index=False)

# Filter, Drop Nulls, Dedupe
Use `data_08.csv` and `data_18.csv`

In [40]:
df_08.shape

(2404, 14)

In [41]:
df_18.shape

(2435, 14)

## Filter by Certification Region

In [42]:
# filter datasets for rows following California standards
df_08.cert_region.unique()

array(['CA', 'FA', 'FC'], dtype=object)

In [43]:
df_08 = df_08.query('cert_region == "CA"')
df_08.cert_region.unique()

array(['CA'], dtype=object)

In [44]:
df_18 = df_18.query('cert_region == "CA"')
df_18.cert_region.unique()

array(['CA'], dtype=object)

In [45]:
df_18.drop('cert_region', axis=1, inplace=True)
df_18.head(1)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,small car,3,25,35,29,6,No

In [46]:
df_08.drop('cert_region', axis=1, inplace=True)
df_08.head(1)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no

In [50]:
df_18.shape

(1204, 13)

In [51]:
df_08.shape

(1084, 13)

## Drop Rows with Missing Values

In [73]:
df_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [74]:
df_18.isnull().sum()

model                   0
displ                   6
cyl                     6
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

## 删除缺数据的行

In [75]:
df_18.dropna(inplace=True)
df_08.dropna(inplace=True)

In [76]:
df_08.isnull().sum().any()

False

In [77]:
df_18.isnull().sum().any()

False

## Dedupe Data 删除重复数据

In [79]:
sum(df_08.duplicated())

23

In [80]:
sum(df_18.duplicated())

8

In [83]:
df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

In [84]:
sum(df_08.duplicated())

0

In [85]:
sum(df_18.duplicated())

0

In [86]:
# save progress for the next section
df_08.to_csv('data_08.csv', index=False)
df_18.to_csv('data_18.csv', index=False)

# Inspecting Data Types
Use the space below to explore `data_08.csv` and `data_18.csv` to answer the quiz questions below regarding datatypes.

In [87]:
df_08.dtypes

model                    object
displ                   float64
cyl                      object
trans                    object
drive                    object
fuel                     object
veh_class                object
air_pollution_score      object
city_mpg                 object
hwy_mpg                  object
cmb_mpg                  object
greenhouse_gas_score     object
smartway                 object
dtype: object

In [88]:
df_18.dtypes

model                    object
displ                   float64
cyl                     float64
trans                    object
drive                    object
fuel                     object
veh_class                object
air_pollution_score       int64
city_mpg                 object
hwy_mpg                  object
cmb_mpg                  object
greenhouse_gas_score      int64
smartway                 object
dtype: object

# Fixing `cyl` Data Type
- 2008: extract int from string
- 2018: convert float to int

In [108]:
df_08.cyl.dtypes

dtype('int64')

In [90]:
df_08.cyl.value_counts()

(6 cyl)     409
(4 cyl)     283
(8 cyl)     199
(5 cyl)      48
(12 cyl)     30
(10 cyl)     14
(2 cyl)       2
(16 cyl)      1
Name: cyl, dtype: int64

In [101]:
# 提取字符串中的数字
df_08['cyl'] = df_08['cyl'].str.extract('(\d+)', expand=True).astype(int)

In [104]:
df_18.cyl.dtypes

dtype('float64')

In [107]:
# 转换数据dataframe的数据类型
df_18['cyl'] = df_18.cyl.astype(int)
df_18.cyl.dtypes

dtype('int64')

In [109]:
df_08.to_csv('data_08.csv', index=False)
df_18.to_csv('data_18.csv', index=False)

# Fixing `air_pollution_score` Data Type
- 2008: convert string to float
- 2018: convert int to float

In [112]:
# try using Pandas to_numeric or astype function to convert the
# 2008 air_pollution_score column to float -- this won't work
df_08.air_pollution_score.head(3)

0    7
1    6
2    7
Name: air_pollution_score, dtype: object

In [116]:
df_08.air_pollution_score.to_numeric()

AttributeError: 'Series' object has no attribute 'to_numeric'

In [119]:
df_08.air_pollution_score.convert_objects(convert_numeric=True).dtypes

/Users/Young/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

dtype('float64')

# Figuring out the issue
Looks like this isn't going to be as simple as converting the datatype. According to the error above, the value at row 582 is "6/4" - let's check it out.